body {
    background: #3b95e3;
}

h1 {
    font-family: Monaco, serif;
    font-size: 30px;
    color: #fc3903;
    background-color: gainsboro;
    padding: 10px 10px 10px 10px;
  }

h2 {
    font-family: Monaco, serif;
    font-size: 15px;
    color: gainsboro;
}

span.smallHeader {
    font-family: Monaco, serif;
    font-size: 15px;
    color: #3b95e3;
    font-style: italic;
}
