body {
    background: #3b95e3;
    padding: 0px 0px 0px 0px;
}

h1 {
    font-family: Monaco, serif;
    font-size: 30px;
    color: #fc3903;
    background-color: gainsboro;
    padding: 10px 10px 10px 10px;
    text-align: center;
  }

h2 {
    font-family: Monaco, serif;
    font-size: 15px;
    color: gainsboro;
    text-decoration: underline;
    padding: 0px 0px 0px 20px;
}

.small-header {
    font-family: Monaco, serif;
    font-size: 10px;
    color: #3b95e3;
    font-style: italic;
}

#aboutme {
    background-color:#fc3903;
    position: relative;
    width: 600px;
    height: 250px;
    font-family: Monaco, serif;
    font-size: 15px;
    text-align: left;
    color: gainsboro;
    padding: 15px 0px 0px 20px;
  }

#leahphoto {
    margin-left: 50%;
    position: relative;
    padding: 10px 0px 10px 30px;
}

.contact-links {
    font-family: Monaco, serif;
    color: #fc3903;
    background-color: gainsboro;
    padding: 5px 10px 5px 10px;
    text-align: center;
}