body {
    background: #3b95e3;
}

h1 {
    font-family: Monaco, serif;
    font-size: 30px;
    color: #fc3903;
    background-color: gainsboro;
    padding: 10px 10px 10px 10px;
  }

h2 {
    font-family: Monaco, serif;
    font-size: 15px;
    color: gainsboro;
    text-decoration: underline;
    font-style: italic;
    padding: 10px 0px 0px 20px;
}

.small-header {
    font-family: Monaco, serif;
    font-size: 10px;
    color: #3b95e3;
    font-style: italic;
}

#aboutme {
    background-color:#fc3903;
    position: relative;
    width: 550px;
    height: 200px;
    font-family: Monaco, serif;
    font-size: 15px;
    text-align: left;
    color: gainsboro;
    padding: 5px 20px 0px 20px;
  }
